.App {
  text-align: center;
}

.boulder-problem-card img {
  width: 200px;
  height: 200px;
}

.boulder-info-short{
  cursor: pointer;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-header h1 {
  margin-right: 10px; /* Add some spacing between the username and image */
}

.boulder-problem-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.reviews-container {
  border: 2px solid #000;
  margin: 10px;
}

.review-card {
  border: 5px solid #000;
  margin: 10px;
}
